pre {
  font-size: 0.9rem;
  white-space: pre-wrap;
}

#heading {
  display: flex;
}

#heading img {
  transform: rotate(180deg);
}

nav a {
  margin-right: 0.5em;
}

nav a.active {
  color: darkgray;
}

#signup p {
  color: gray;
}

#signup code {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#signup form {
  margin-top: 2rem;
}

#signup form input.mismatch {
  background-color: rgba(255, 36, 36, 0.47);
}

dialog header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

dialog header div {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5rem;
}


dialog .error {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

dialog .error code {
  color: red;
}

dialog button {
  padding: 0.5rem;
}

dialog button:after {
  content: "❌";
}

#content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#content p {
  color: gray;
}

